#============= init ==============
allow init location_data_file:fifo_file write;
allow init qmuxd:unix_stream_socket connectto;
allow init qmuxd_socket:sock_file write;
allow init self:socket { write read create ioctl };
allow init sensors:unix_stream_socket connectto;
allow init sensors_device:chr_file getattr;
allow init sensors_socket:sock_file write;
allow init system_file:file execute_no_trans;
allow init firmware_file:dir mounton;
allow init self:netlink_kobject_uevent_socket create;
allow init smem_log_device:chr_file write;
allow init sysfs_mpdecision:file getattr;
allow init thermal_device:chr_file write;
allow init smem_log_device:chr_file ioctl;
allow init thermal_device:chr_file ioctl;
